In [3]:
import pandas as pd

In [4]:
all_metadata_file = '/Users/jonaheaton/ReviveMed Dropbox/Jonah Eaton/development_CohortCombination/metadata_oct13_new2.csv'

all_metadata = pd.read_csv(all_metadata_file)

In [5]:
all_metadata[['Factors.Sex','Sex']]

      Factors.Sex     Sex
0             NaN       F
1             NaN       F
2             NaN       M
3             NaN       M
4             NaN       M
...           ...     ...
13080         NaN  Female
13081         NaN  Female
13082         NaN  Female
13083         NaN  Female
13084         NaN  Female

[13085 rows x 2 columns]

In [12]:
all_metadata['Sex'].unique()

array(['F', 'M', nan], dtype=object)

In [6]:
all_metadata['Factors.Sex'].unique()

array([nan, 'M', 'F', 'Male', 'QC2', 'QC1', 'QC4', 'QC3', 'Female',
       'BLANK', '-', '1', '2'], dtype=object)

In [7]:
all_metadata[all_metadata['Factors.Sex'] == '2']['Study'].unique()

array(['ST001422'], dtype=object)

## In Study ST001422
- Female is Factors.Sex == '2'
- Male is Factors.Sex == '1'
- this is confirmed by looking at the Metabolomics Workbench

#

In [14]:
# We know that this sample id correspond to Female patient
all_metadata[all_metadata['Sample ID'] == '40000801_1']['Factors.Sex']

6837    2
Name: Factors.Sex, dtype: object

In [11]:
all_metadata.loc[all_metadata['Factors.Sex'] == '2','Sex'] = 'F'
all_metadata.loc[all_metadata['Factors.Sex'] == '1','Sex'] = 'M'
all_metadata.loc[all_metadata['Factors.Sex'] == 'M','Sex'] = 'M'
all_metadata.loc[all_metadata['Factors.Sex'] == 'F','Sex'] = 'F'
all_metadata.loc[all_metadata['Factors.Sex'] == 'Female','Sex'] = 'F'
all_metadata.loc[all_metadata['Sex'] == 'Female','Sex'] = 'F'
all_metadata.loc[all_metadata['Sex'] == 'Male','Sex'] = 'M'

In [15]:
all_metadata_file = '/Users/jonaheaton/ReviveMed Dropbox/Jonah Eaton/development_CohortCombination/metadata_oct13_new3.csv'
all_metadata.to_csv(all_metadata_file,index=False)

In [16]:
all_metadata['Sex'].unique()

array(['F', 'M', nan], dtype=object)